ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,body,html,p,blockquote,fieldset,input
{ margin: 0; padding: 0; }


a
{
  color: #4c85be;
  text-decoration: none;
}

a:hover
{
  text-decoration: none;
}

img
{
  border: none;
}

.error_list
{
  list-style-type: none;
  color: red;
}

body, td, table {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: Arial, Verdana, sans-serif;
  font-size: 11px;
  background-color: #fff;
  text-align: left;
}


.table-form, .table-form td, .table-form tr, .table-form th, .table-form tr td .table-form tr th{
  background-color: transparent;
  padding: 2px
}

th
{
  min-width: 10em;
  font-size: 115%;
}

.tip-usage
{
  padding: 0.2em;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
  text-align: center;
  background-color: #ecec00;
  border: 1px solid #c2c200;
}

.tip-note
{
  padding: 0.4em;
  background-color: #ecec00;
  border: 1px solid #c2c200;
}

.tip-info
{
  padding: 0.4em;
  background-color: #d8f5ff;
  border: 1px solid #4c85be;
}